.sells-show{
    padding: 0rem 1rem;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0rem;
    }

    .middle{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sides{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;

            label{
                font-style: italic;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: .5rem;
                border-bottom: .1rem dashed gray;

                span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: larger;
                }
            }
        }
    }

    .sell-orders, .payments{
        table{

            th{
                text-align: center;
                vertical-align: middle;
            }

            .left{
                text-align: left;
                vertical-align: middle;
            }
            .right{
                text-align: right;
                vertical-align: middle;
            }
            .center{
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

.sells-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: black, $alpha: .75);

    form{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        background: black;
        color: white;
        max-width: 50%;
        padding: 1rem;

        span{
            margin-bottom: .5rem;
            color: red;
        }

        .btn-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}

.transaction-show-image-viewer{
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    background: rgba($color: black, $alpha: .75);
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width: 95%;
        max-height: 95vh;
        object-fit: cover;
    }

    span{
        color: white;
        font-size: 2rem;
        cursor: pointer;
        position: fixed;
        top: 5rem;
        right: 5rem;
    }
}
