body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 0rem 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
body header nav .logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
body header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}
body header nav ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
body header nav ul li:hover {
  background: gray;
}
body header nav .nav-option-trigger {
  cursor: pointer;
}
body header nav .nav-option-trigger span {
  font-size: 0.7rem;
  font-weight: normal;
  font-style: italic;
}
body header nav .nav-options {
  position: absolute;
  top: 40px;
  right: 0px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
}
body header nav .nav-options li {
  width: 100%;
  border-bottom: 0.1rem solid gray;
}
body header nav .nav-options li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}
body header nav .hide {
  display: none;
}
body aside {
  position: fixed;
  top: 40px;
  left: 0px;
  background: black;
  color: white;
  height: 100vh;
  z-index: 5;
  border-right: 1px solid gray;
}
body aside ul {
  padding: 0rem;
  margin: 0rem;
}
body aside ul li {
  list-style: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
body aside ul li a {
  color: white;
  text-decoration: none;
}
body aside ul li a:hover {
  color: white;
}
body aside ul li:hover {
  background: gray;
}
body .admin-panel {
  position: fixed;
  top: 40px;
  left: var(--margin_left);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
body .admin-panel ul {
  padding: 0rem;
  margin: 0rem;
}
body .admin-panel ul li {
  list-style: none;
  padding: 1rem 0.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
body .admin-panel ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
body .admin-panel ul li:hover {
  background: gray;
}
body .manager-panel {
  position: fixed;
  top: 40px;
  left: var(--margin_left);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
body .manager-panel ul {
  padding: 0rem;
  margin: 0rem;
}
body .manager-panel ul li {
  list-style: none;
  padding: 1rem 0.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
body .manager-panel ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
body .manager-panel ul li:hover {
  background: gray;
}
body .seller-panel {
  position: fixed;
  top: 40px;
  left: var(--margin_left);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
body .seller-panel ul {
  padding: 0rem;
  margin: 0rem;
}
body .seller-panel ul li {
  list-style: none;
  padding: 1rem 0.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
body .seller-panel ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
body .seller-panel ul li:hover {
  background: gray;
}
body .customer-panel {
  position: fixed;
  top: 40px;
  left: var(--margin_left);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
body .customer-panel ul {
  padding: 0rem;
  margin: 0rem;
}
body .customer-panel ul li {
  list-style: none;
  padding: 1rem 0.5rem;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.1rem solid gray;
}
body .customer-panel ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
body .customer-panel ul li:hover {
  background: gray;
}
body .hidden {
  transform: translateX(-1000px);
}
body .content-loader {
  padding-top: 40px;
  padding-left: var(--margin_left);
  width: 100%;
  min-height: 100vh;
}
body .login-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.75);
}
body .login-div form {
  border: 0.1rem solid black;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  padding: 1rem;
  width: 30%;
  background: black;
  color: white;
}
body .login-div form .login-error {
  color: red;
  display: block;
  margin-bottom: 0.5rem;
}
body .login-div form .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .register-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.75);
}
body .register-div form {
  border: 0.1rem solid black;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem;
  width: 50%;
  background: black;
  color: white;
}
body .register-div form legend {
  text-align: center;
}
body .register-div form .rows {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body .register-div form .rows .columns {
  width: 50%;
  margin: 0.5rem;
}
body .register-div form .rows .columns textarea {
  height: 7.2rem;
}
body .register-div form .rows .columns .register-error {
  color: red;
  display: block;
  margin-bottom: 0.5rem;
}
body .register-div form .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
body .change-password-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.75);
}
body .change-password-div form {
  border: 0.1rem solid black;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  padding: 1rem;
  width: 30%;
  background: black;
  color: white;
}
body .change-password-div form .change-password-error {
  color: red;
  display: block;
  margin-bottom: 0.5rem;
}
body .change-password-div form .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .hide {
  display: none;
}/*# sourceMappingURL=index.css.map */